# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. JAVA

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. Matplotlib

# Data Science Tools

| Data Science Tools |
| -------------| 
| Python Jupitor Notebook |
| RStudio | 
| JavaML |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Python
- R
- JAVA
- C++

**Objectives:**
- Python
- R
- JAVA
- C++

## Lakshmi Holla
Nan Yao

## Lakshmi Holla
Nan Yao

In [ ]:
[] (https://github.com/nanyao1030/My-Data-Science-with-Python)